<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.codeclan.com.cardgame">
    /// PERMISSION TO VIBRATE
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/main_screen_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".WActivity"
            android:label="@string/w_activity_title"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".WPlayActivity"
            android:label="@string/w_activity_title"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".BJActivity"
            android:label="@string/bj_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".BJPlayActivity"
            android:label="@string/bj_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>
